<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="$!default('''page.section['citationTitle']''',page.info.title)!$ – The Ajahn Pasanno Question and Story Archive">
  <meta name="keywords" content="$!', '.join(page.keywords)!$">
  <meta name="author" content="Abhayagiri Buddhist Monastery">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$!page.info.title!$</title>
<!--(if page.gOptions.blockRobots)-->
  <meta name="robots" content="noindex, nofollow" />
<!--(end)-->

<link rel="stylesheet" href="../style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    
</head>
<body>
  <!--(if page.gOptions.redirectToJavascript)-->
    <script>
      url = new URL(location.href)
      location.replace("../index.html#$!page.info.file!$" + url.hash);
    </script>
  <!--(else)-->
    <span id="javascript-link">
      <a href="../index.html#$!page.info.file!$">Enable floating audio player (Javascript)</a>
      <br>
    </span>
  <!--(end)-->
  <div id="header">
    <h1><strong>The Ajahn Pasanno Question and Story Archive</strong></h1>
    <br>
    <nav id="topnav">
      $!page.section["mainMenu"].Render()!$
    </nav>
  </div>
<br>

<!--(if page.HasSection("subMenu"))-->
  <div class="sublink">
    $!page.section["subMenu"].Render()!$
  </div>
  <br>
<!--(end)-->

  <div class="title">$!page.info.titleInBody!$
    <!--(if page.HasSection("smallTitle"))-->
    &nbsp&nbsp<span style="font-size:65%;">$!page.section["smallTitle"]!$</span>
    <!--(end)-->
  </div>

<div class="intro">
$!page.RenderNumberedSections()!$
</div>

<footer>
    <p id="copyright">&copy; 2023 Abhayagiri Buddhist Monastery – <a href="../about/12_License.html">License</a></p>
    <p id="cite-as"><b>How to cite this page</b> (suggested style): “$!page.section["citeAs"] if page.HasSection("citeAs") else page.info.title!$,” The Ajahn Pasanno Question and Story Archive, November 8, 2023,
      $!f'<a href="{page.gOptions.info.citationURL}{page.info.file}">{page.gOptions.info.citationURL}{page.info.file}</a>'!$.</p>
</footer>

</body>
</html>