<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="$!default('''page.section['citationTitle']''',page.info.title)!$ – The Ajahn Pasanno Question and Story Archive">
  <meta name="keywords" content="$!', '.join(page.keywords)!$">
  <meta name="author" content="Abhayagiri Buddhist Monastery">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>$!page.info.title!$</title>
<!--(if page.gOptions.blockRobots)-->
  <meta name="robots" content="noindex, nofollow" />
<!--(end)-->
<style>
  p {font-size: 100%;}
</style>
    
</head>
<body>

<h1>The Ajahn Pasanno Question and Story Archive</h1>

<h4>$!page.section["mainMenu"].Render()!$</h4>

<!--(if page.HasSection("subMenu"))-->
<h4>$!page.section["subMenu"].Render()!$</h4>
<!--(end)-->

$!page.RenderNumberedSections()!$

<p id="copyright" style="margin-left: 0em;">&copy; $!page.gOptions.info.releaseYear!$ Abhayagiri Buddhist Monastery – <a href="../about/12_License.html">License</a></p>
<p id="cite-as" style="margin-left: 0em;"><b>How to cite this page</b> (suggested style): “$!page.section["citationTitle"] if page.HasSection("citationTitle") else page.info.title!$,” The Ajahn Pasanno Question and Story Archive, $!page.gOptions.info.releaseName!$,
      $!f'<a href="{page.gOptions.info.citationURL}{page.info.file}">{page.gOptions.info.citationURL}{page.info.file}</a>'!$.</p>

</body>
</html>