<div>

<input type="text" id="search-text" placeholder="Search for text..."/>

<br><br>
<button type="button" id="search-x-button">Search excerpts</button>
<button type="button" id="search-g-button">Search tags</button>

<p id="message"></p>

<p id="instructions">
Search excerpt text, teachers, and tags<br>
Search for whole words and phrases using quotation marks: "Wat Pah Pong"<br>
Search for tags using brackets: [Happiness]<br>
Search for teachers using braces: {Ajahn Karunadhammo}<br>
<a href="../about/09_Search-instructions.html">More information</a>
</p>

<p id="results"></p>
</div>