*.mp3
*.MP3
*.Mp3
tools/mp3DirectCut/
*__pycache__
*.DS_Store
.venv/
.venv3.9/
python/config/LocalDefault.args

# Ignore all references except those we can't get a download link working for
references/
!references/Book_of_the_Discipline.pdf
!references/The-Chithurst-Story.pdf
!references/Piyadassi_Book-of-Protection.pdf

referencesNoUpload/
audio/sessionsNoUpload/
audio/excerptsNoUpload/