<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$!page.info.title!$</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" href="../style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    
</head>
<body>

  <div id="header">
    <h1><strong>The Ajahn Pasanno Question and Story Archive</strong> </h1>
    <br>
    <h4>$!page.menus[0].Render()!$</h4>
  </div>
<br>

<!--(if len(page.menus) >= 2)-->
  <div class="intro">
    $!page.menus[1].Render()!$
  </div>
<!--(end)-->

  <div class="title">$!page.info.titleInBody!$</div>

<div class="intro">
$!page.PageText(startingWithSection = (1 if (len(page.menus) < 2) else 2))!$
</div>

<footer>
    <p>&copy; 2023 Abhayagiri Buddhist Monastery. All rights reserved.</p>
</footer>

</body>
</html>