@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

body {
	margin: 0;
}

h1 {
	font-weight: 100;
	font-family: Raleway;
	text-align: center;
	font-size: 3em;
	width: 100%;
	line-height: 2em;
	background-color: #e7e7e7;
}

div#search-bar {
	width: 100%;
	text-align: center;
}

div#search-bar > input {
	font-size: larger;
	border: none;
	border-bottom: 2px solid #0000001b;
	outline: none;
}

div.center-content {
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
}

div#search-results {
	max-width: 1000px;
	padding: 30px;
}

.card {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	grid-column-gap: 10px;

	padding: 30px 40px;
	font-size: large;
	background-color: #f3f3f3;
	border-radius: 20px;
}

.card img.thumbnail {
	height: 200px;
	border-radius: 10px;
}

#search-list.small .card {
	grid-template-columns: 1fr;
}

#search-list.small .card img.thumbnail {
	display: none;
}

#search-list.small {
	width: 40vw;
}
